<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/resources/lib/mustache.min.js"></script>

    <script type="text/javascript" src="/resources/js/admin/tags.js"></script>

    <script type="text/javascript" src="/resources/js/header.js"></script>
</head>
<body>
<div th:replace="template/header.html :: header"></div>

<div class="row justify-content-center bg-light">

    <div th:replace="template/admin-menu-bar.html :: admin-menu-bar"></div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">All tags</h1>
        </div>

        <div class="p-3 pt-1 p-md-5 m-md-3 text-center bg-light col-md-8 border-dark rounded">
            <h1 class="d-none d-lg-block mb-3" th:placeholder="#{btn.tag.add}" ></h1>
            <form id="cert-adding" class="needs-validation">

                <div class="mb-3">
                    <label for="name" th:text="#{certificate.field.name}"></label>
                    <input type="text" class="form-control" id="name" th:max="80"  th:placeholder="#{certificate.field.name}" required>
                </div>


                <button id="btn-add" class="btn btn-primary btn-lg btn-block" type="button">Continue to checkout</button>

                <input type="hidden" id="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" id="_csrf_header" th:value="${_csrf.getHeaderName()}"/>

            </form>

        </div>

    </main>

</div>

<div th:replace="template/footer.html :: footer"></div>

</body>
</html>