<div>
    <nav class="navbar navbar-expand-lg navbar-light border-bottom">
        <div class="container">
            <a id="btn-main-page" class="navbar-brand">Gift Certificates</a>
            <div class="collapse navbar-collapse" id="globalNavbar">


                <div  class="form-inline form-navbar my-2 my-lg-0 order-2" autocomplete="off">
                    <input id="searchInput" class="form-control" login="textPart" type="text" placeholder="Search">
                </div>


                <ul class="navbar-nav mr-auto order-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <div class="navbar-collapse navbar-top-collapse">
                                <ul id="tags_menu" class="nav navbar-nav">
                                    <li id="tag_item" style="display: none;">{{login}}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                    <li class="nav-item">
                        <a class="nav-link" id="btn_sing_in">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="btn_sing_up">Sign up</a>
                    </li>
                </ul>
                <div class="btn-group mr-2 order-4" role="group" aria-label="First group">
                    <button type="button" class="btn btn-light">RU</button>
                    <button type="button" class="btn btn-light">EN</button>
                </div>
            </div>
        </div>
    </nav>
</div>
