<div class="certificate-template">
    <section class="section">
        <div class="container">
            <div class="row">


                <div id="container" style="overflow: hidden">
                    <div id="content" role="main">

                        <h1 class="d-none d-lg-block mb-3">{{login}}</h1>
                        <div style="overflow: hidden">
                            <div class="row">
                                <div class="col-lg-8 mb-md-0 mb-3">
                                    <div class="post-7340 product type-product status-publish has-post-thumbnail product_cat-landing-corporate first instock downloadable shipping-taxable purchasable product-type-simple">
                                        <div><img src="#" alt="Certifiacte page"></div>


                                        <h2>Description</h2>


                                        <div class="tab-content">
                                            <div class="tab-pane fade show mt-2 mt-lg-5 active" id="description-tab"
                                                 role="tabpanel">
                                                <div class="theme-description">
                                                    <p>{{description}}</p>

                                                </div>
                                            </div>

                                        </div>




                                    </div><!-- .summary -->
                                </div>
                            </div>

                            <div id="tags-container">
                            </div>

                            <div class="col-lg-8 mb-md-0 mb-3">
                                <div class="row">
                                    <h3>{{price}}</h3>



                                    <form action="#" method="POST" class=" btn-block">
                                        <button type="submit" class="btn btn-brand btn-block btn-checkout"><span
                                                class="btn-text">Add to cart</span></button>
                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>

    </section>
</div>

