#user-icon {
    width: 75px;
    height: 75px;
}

#user-icon {
    width: 75px;
    height: 75px;

}

#sing-up-container {
    padding-top: 4em;
    padding-bottom: 4em;
}

#wp-submit {
    background: #7952B3;
    color: #ffffff;
}
